*.swp
Makefile
Makefile.in
aclocal.m4
*.cache
*.tgz
build-aux
*.log
*.status
*.o
*.a
*.deb
.deps/

src/irc/irc.c
src/fe-common/irc/irc-modules.c

configure
default-config.h
default-theme.h
description-pak
doc-pak
irssi-config
irssi-config.h
irssi-config.h.in
irssi-version.h
libtool
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
src/fe-text/irssi
src/perl/common/Makefile.PL
src/perl/irc/Makefile.PL
src/perl/textui/Makefile.PL
src/perl/ui/Makefile.PL
stamp-h1
tmp

docs/faq.txt
docs/help/Makefile.am
docs/help/accept
docs/help/action
docs/help/admin
docs/help/alias
docs/help/away
docs/help/ban
docs/help/beep
docs/help/bind
docs/help/cat
docs/help/cd
docs/help/channel
docs/help/clear
docs/help/completion
docs/help/connect
docs/help/ctcp
docs/help/cycle
docs/help/dcc
docs/help/dehilight
docs/help/deop
docs/help/devoice
docs/help/die
docs/help/disconnect
docs/help/echo
docs/help/eval
docs/help/exec
docs/help/flushbuffer
docs/help/format
docs/help/hash
docs/help/help
docs/help/hilight
docs/help/ignore
docs/help/in/Makefile
docs/help/in/Makefile.am
docs/help/in/Makefile.in
docs/help/info
docs/help/invite
docs/help/invitelist
docs/help/ircnet
docs/help/ison
docs/help/join
docs/help/kick
docs/help/kickban
docs/help/kill
docs/help/knock
docs/help/knockout
docs/help/lastlog
docs/help/layout
docs/help/levels
docs/help/links
docs/help/list
docs/help/load
docs/help/log
docs/help/lusers
docs/help/map
docs/help/me
docs/help/mircdcc
docs/help/mode
docs/help/motd
docs/help/msg
docs/help/names
docs/help/nctcp
docs/help/netsplit
docs/help/network
docs/help/nick
docs/help/note
docs/help/notice
docs/help/notify
docs/help/op
docs/help/oper
docs/help/part
docs/help/ping
docs/help/query
docs/help/quit
docs/help/quote
docs/help/rawlog
docs/help/recode
docs/help/reconnect
docs/help/rehash
docs/help/reload
docs/help/restart
docs/help/rmreconns
docs/help/rmrejoins
docs/help/rping
docs/help/save
docs/help/say
docs/help/sconnect
docs/help/script
docs/help/scrollback
docs/help/server
docs/help/servlist
docs/help/set
docs/help/silence
docs/help/squery
docs/help/squit
docs/help/stats
docs/help/statusbar
docs/help/time
docs/help/toggle
docs/help/topic
docs/help/trace
docs/help/ts
docs/help/unalias
docs/help/unban
docs/help/unignore
docs/help/unload
docs/help/unnotify
docs/help/unquery
docs/help/unsilence
docs/help/upgrade
docs/help/uping
docs/help/userhost
docs/help/ver
docs/help/version
docs/help/voice
docs/help/wait
docs/help/wall
docs/help/wallops
docs/help/watch
docs/help/who
docs/help/whois
docs/help/whowas
docs/help/window
docs/help/wjoin
docs/help/wquery
